[Autologin]
Relogin=false
Session=
User=


[General]
HaltCommand=/usr/bin/shutdown now
InputMethod=qtvirtualkeyboard
Namespaces=
Numlock=none
RebootCommand=/usr/bin/shutdown -r  now


[Theme]
Current=sddm_wynn-theme
CursorTheme=Breeze Obsidian
DisableAvatarsThreshold=7
EnableAvatars=true
FacesDir=/usr/share/sddm/faces
ThemeDir=/usr/share/sddm/themes


[Users]
DefaultPath=/usr/local/bin:/usr/bin:/bin
HideShells=
HideUsers=
MaximumUid=60000
MinimumUid=1000
RememberLastSession=true
RememberLastUser=true
ReuseSession=false


[Wayland]
EnableHiDPI=false
SessionCommand=/usr/share/sddm/scripts/wayland-session
SessionDir=/usr/share/wayland-sessions
SessionLogFile=.local/share/sddm/wayland-session.log
